@using AllPaczkino.Repositories;
@model IEnumerable<AllPaczkino.Models.Parcel>

@{
    ViewData["Title"] = "Lista paczek";
}

<h1>Lista paczuch</h1>

<p>
    <a asp-action="Create">Utwórz nową paczkę</a>
    @using (Html.BeginForm())
    {
    <p>
        Przefiltruj listę: @Html.TextBox("SearchString")
        <input type="submit" value="Filtruj" />
    </p>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.IdSortParam">@Html.DisplayNameFor(model => model.ID)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParam">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>   
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.ParcelNumberParam">@Html.DisplayNameFor(model => model.ParcelNumber)</a>
            </th>      
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.SendTimeParam">@Html.DisplayNameFor(model => model.SendTime)</a>
            </th>
            <th>      
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.ReceiveTimeParam">@Html.DisplayNameFor(model => model.ReceiveTime)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.ParcelStatusParam">@Html.DisplayNameFor(model => model.ParcelStatus)</a>
            </th>
            <th>               
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.SenderParam">@Html.DisplayNameFor(model => model.Sender)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.SenderLockerParam">@Html.DisplayNameFor(model => model.SenderLocker)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.ReceiverParam">@Html.DisplayNameFor(model => model.Receiver)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.ReceiverLockerParam">@Html.DisplayNameFor(model => model.ReceiverLocker)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.ParcelSizeParam">@Html.DisplayNameFor(model => model.ParcelSize)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParcelNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SendTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiveTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParcelStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sender.ContactData.Name)
                    @Html.DisplayFor(modelItem => item.Sender.ContactData.Email)
                    @Html.DisplayFor(modelItem => item.Sender.ContactData.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderLocker.postal_code)
                    @Html.DisplayFor(modelItem => item.SenderLocker.city)
                    @Html.DisplayFor(modelItem => item.SenderLocker.address)
                    @Html.DisplayFor(modelItem => item.SenderLocker.id)


                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Receiver.ContactData.Name)
                    @Html.DisplayFor(modelItem => item.Receiver.ContactData.Email)
                    @Html.DisplayFor(modelItem => item.Receiver.ContactData.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiverLocker.postal_code)
                    @Html.DisplayFor(modelItem => item.ReceiverLocker.city)
                    @Html.DisplayFor(modelItem => item.ReceiverLocker.address)
                    @Html.DisplayFor(modelItem => item.ReceiverLocker.id)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParcelSize.Name)
                    @Html.DisplayFor(modelItem => item.ParcelSize.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ID  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.ID}) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID})
                </td>
            </tr>
        }
    </tbody>
</table>
