@using AllPaczkino.Repositories;
@model IEnumerable<AllPaczkino.Models.Parcel>

@{
    ViewData["Title"] = "Lista paczek";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParcelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiveTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParcelStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderLocker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverLocker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParcelSize)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParcelNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SendTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiveTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParcelStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sender.ContactData.Name)
                    @Html.DisplayFor(modelItem => item.Sender.ContactData.Email)
                    @Html.DisplayFor(modelItem => item.Sender.ContactData.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderLocker.postal_code)
                    @Html.DisplayFor(modelItem => item.SenderLocker.city)
                    @Html.DisplayFor(modelItem => item.SenderLocker.address)
                    @Html.DisplayFor(modelItem => item.SenderLocker.id)


                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Receiver.ContactData.Name)
                    @Html.DisplayFor(modelItem => item.Receiver.ContactData.Email)
                    @Html.DisplayFor(modelItem => item.Receiver.ContactData.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiverLocker.postal_code)
                    @Html.DisplayFor(modelItem => item.ReceiverLocker.city)
                    @Html.DisplayFor(modelItem => item.ReceiverLocker.address)
                    @Html.DisplayFor(modelItem => item.ReceiverLocker.id)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParcelSize.Name)
                    @Html.DisplayFor(modelItem => item.ParcelSize.Height)
                    @Html.DisplayFor(modelItem => item.ParcelSize.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ID  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.ID}) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID})
                </td>
            </tr>
        }
    </tbody>
</table>
