@model AllPaczkino.Models.Parcel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Parcel</h4>
    <hr />
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ParcelNumber)</th>
                <th>@Html.DisplayNameFor(model => model.ID)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.SendTime)</th>
                <th>@Html.DisplayNameFor(model => model.ReceiveTime)</th>
                <th>@Html.DisplayNameFor(model => model.ParcelStatus)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.ParcelNumber)</td>
                <td>@Html.DisplayFor(model => model.ID)</td>
                <td>@Html.DisplayFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.SendTime)</td>
                <td>@Html.DisplayFor(model => model.ReceiveTime)</td>
                <td>@Html.DisplayFor(model => model.ParcelStatus)</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back</a>
</div>
